---
import chatRead from "@assets/icons/chat-read.svg";
import { Image } from "Astro:assets";
---


<div class="absolute right-4 bottom-4">
    <img class="h-16 hover:scale-110" src={chatRead.src}></img>
</div>