---
import chatRead from "@assets/icons/chat-read.svg";
import { Image } from "Astro:assets";
---


<div class=" right-4 bottom-4 fixed">
    <img class="h-16 hover:scale-110 transition" src={chatRead.src}></img>
</div>