---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
import IAm from '../components/IAm.svelte';
import ArrowLink from "../components/ArrowLink.astro";
---

<BaseLayout>
<!-- <div class="flex flex-col gap-4"> -->
	<div class="flex gap-24	 p-48 pb-0  justify-between">
		<div class="flex flex-col gap-8">
			<h1 class="text-8xl">Hej,</h1>
			<h1 class="text-8xl font-['Young Serif']"><IAm client:idle></IAm></h1>
			<div class="flex justify-start gap-16 text-xl">
				<ArrowLink href="/projekter">Projekter</ArrowLink>
				<ArrowLink href="/om mig">Om mig</ArrowLink>
				<ArrowLink href="/skills">Hvad kan jeg hjælpe med</ArrowLink>


				
			</div>
	
		</div>
		<div class="w-1/3 text-xl flex flex-col gap-4">
			<p>Mit navn er Bertram, og jeg er en passioneret webudvikler, ivrig efter at bidrage til dit næste projekt. Med solid erfaring i at skabe moderne og responsive hjemmesider, er jeg veludrustet til at udvikle en hjemmeside for dig ved hjælp af førende teknologier som <a href="https://react.dev/" class="" target="_blank">React</a>, <a href="https://svelte.dev/" target="blank">Svelte</a>, <a href="https:astro.build" target="_blank">Astro</a>, eller jeg kan designe en skræddersyet WordPress hjemmeside. Jeg ser frem til at omsætte dine ideer til virkelighed med min ekspertise.</p>
		</div>

	</div>
	<br>

<!-- 	

</div> -->
</BaseLayout>