---
import Layout from "@layouts/BaseLayout.astro";
import {Button} from "@ui/button";
import { 
    Card,
    CardTitle,
    CardHeader,
    CardContent,
    CardDescription,
    CardFooter
 } from "@ui/card";
 import ProjectCard from "@components/projekter/project-card.astro";
 import test from "@assets/test.webp";
---

<Layout
>
    
    <div class="flex gap-12 justify-evenly relative flex-wrap">
        <ProjectCard
            src={test}
            title="Birthe Finnemann"
        ></ProjectCard>
        <ProjectCard
        src={test}
            title="Trash Mate"
        ></ProjectCard>
        <ProjectCard
        src={test}
            title="hello world"
        ></ProjectCard>
        
    </div>
</Layout>