---
const {href} = Astro.props
---

<a href={href} class="flex items-center gap-2 hover:scale-105">
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="Layer_1"
   x="0px"
   y="0px"
   width="32"
   height="16"
   viewBox="0 0 450 198"
   enable-background="new 0 0 449 212"
   xml:space="preserve"><title
   id="title3338">Arrow tail down</title><metadata
   id="metadata8"><rdf:RDF><cc:Work
       rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
         rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title>Arrow tail down</dc:title><cc:license
         rdf:resource="http://creativecommons.org/publicdomain/zero/1.0/" /><dc:creator><cc:Agent><dc:title>NicholasJudy456</dc:title></cc:Agent></dc:creator><dc:publisher><cc:Agent><dc:title>Openclipart.org</dc:title></cc:Agent></dc:publisher><dc:identifier>https://openclipart.org/</dc:identifier><dc:source>https://openclipart.org/user-detail/NicholasJudy456</dc:source><dc:description>right arrow with tail up</dc:description><dc:subject><rdf:Bag><rdf:li>arrow</rdf:li><rdf:li>right</rdf:li><rdf:li>point</rdf:li></rdf:Bag></dc:subject></cc:Work><cc:License
       rdf:about="http://creativecommons.org/publicdomain/zero/1.0/"><cc:permits
         rdf:resource="http://creativecommons.org/ns#Reproduction" /><cc:permits
         rdf:resource="http://creativecommons.org/ns#Distribution" /><cc:permits
         rdf:resource="http://creativecommons.org/ns#DerivativeWorks" /></cc:License></rdf:RDF></metadata><defs
   id="defs6" />  <path
   style="fill:#fff"
   d="m 317.57581,182.25151 c 0.01,-0.41168 0.89006,-10.83341 1.95633,-23.1594 1.06627,-12.326 1.79277,-22.55683 1.61445,-22.7352 -0.17832,-0.17836 -52.04317,0.3805 -115.25523,1.24191 l -114.930999,1.5662 -17.21916,-8.9863 -17.21916,-8.98629 -11.728614,-14.05729 C 38.342689,99.40363 32.250071,91.641412 31.254275,89.885753 30.25848,88.130103 26.193897,78.714627 22.221869,68.962477 L 15,51.231283 15.864736,33.115641 16.729473,15 22.77266,23.507941 c 3.323753,4.679371 12.303713,17.754997 19.955468,29.05694 l 13.91228,20.549008 5.772363,1.995857 5.772364,1.995856 -0.521693,-3.189915 C 66.373539,66.028517 65.135344,54.910345 65.505632,54.539979 66.10059,53.944886 81.145788,61.628934 91.81398,67.97645 l 9.23146,5.492685 113.11228,-0.744323 113.11228,-0.744324 -1.86533,-7.283004 c -1.66091,-6.4849 -5.31487,-35.259318 -4.57184,-36.002523 0.16102,-0.161056 4.54133,3.357059 9.734,7.818029 5.19267,4.460959 22.69984,18.699297 38.90483,31.640744 21.9931,17.56387 34.08046,26.411506 47.67239,34.894946 10.01481,6.25077 18.04841,11.52543 17.85244,11.72145 -0.19598,0.19602 -11.28734,1.93285 -24.64748,3.85961 l -24.29114,3.50322 -19.5327,10.46883 -19.53271,10.46883 -14.38194,19.9647 C 324.70044,174.0159 318.07772,183 317.89336,183 c -0.18437,0 -0.32727,-0.33682 -0.31755,-0.74849 z"
   id="path3336"><title
     id="title3362">Arrow Tail Up  --  by NicholasJudy456</title></path>
</svg>
    <slot/></a>