---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="transition  flex justify-between top-0  sticky">
	
		<h2 class="text-2xl w-auto p-8 flex">
			
			{Astro.url.pathname != "/" ? <HeaderLink href="/" class="flex">{SITE_TITLE.split("").map(character => <div class="hover:-translate-y-1">{character}</div>)</HeaderLink>} : SITE_TITLE.split("").map(character => <div class="hover:-translate-y-1">{character}</div>)}
		</h2>
	<nav class="flex flex-row justify-between gap-6 p-8">
			<!-- <HeaderLink href="/">Home</HeaderLink> -->
			<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
			<HeaderLink	derLink href="/about">Eksempler</HeaderLink>
			<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
			<HeaderLink>Kontakt</HeaderLink>



	</nav>
	
</header>

<!-- <script lang="js">
	const nav = document.querySelector('header');
	addEventListener("scroll", (event) => {
  
  
	  if (window.scrollY > 10) {
		nav?.classList.remove("bg-black")
	  } else {
		nav?.classList.add("bg-black")
	  }
  
	})
	
  </script>
   -->