---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---

<!DOCTYPE html>
<!-- <html lang="da" class="bg-gradient-to-tr from-pink-500 via-red-500 to-yellow-500 text-white"> -->
<html lang="da" class="bg-gray-900 text-white">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<slot></slot>
		</main>
		<!-- <Footer /> -->
	</body>
</html>
